:root {
  --prism-background: #2b2b2b;
  --prism-comment: #808080;
  --prism-foreground: #fdfff1;
  --prism-selection: #484848;
  --prism--red: #f92672;
  --prism--green: #a6e22e;
  --prism--skyblue: #66d9ef;
  --prism--orange: #fd971f;
  --prism--purple: #ae81ff;
}

code[class*='language-'],
pre[class*='language-'] {
  color: var(--prism-foreground);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  color: inherit;
  background: var(--prism-selection);
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  color: inherit;
  background: var(--prism-selection);
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: var(--prism-background);
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: #808080;
}

.token.keyword {
  color: var(--prism--red);
}

.token.delimiter,
.token.boolean,
.token.selector,
.token.important,
.token.atrule {
  color: var(--prism--purple);
}

/* Promise, Type */
.token.builtin,
.token.maybe-class-name,
.token.class-name.known-class-name {
  color: var(--prism--skyblue);
}

.token.operator,
.token.punctuation,
.token.attr-name {
  color: #a9b7c6;
}

.token.operator.spread {
  color: var(--prism--foreground);
}

.token.tag,
.token.tag .punctuation,
.token.doctype {
  color: #e8bf6a;
}

.token.entity,
.token.symbol {
  color: #6897bb;
}

.token.number,
.token.property,
.token.constant,
.token.variable {
  color: #ae81ff;
}

.token.string,
.token.char {
  color: #dfd572;
}

.token.attr-value,
.token.attr-value .punctuation {
  color: #a5c261;
}

.token.attr-value .punctuation:first-child {
  color: #a9b7c6;
}

.token.url {
  color: #287bde;
  text-decoration: underline;
}

.token.function {
  color: #a6e22e;
}

.token.regex {
  background: #364135;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.inserted {
  background: #294436;
}

.token.deleted {
  background: #484a4a;
}

code.language-css .token.property,
code.language-css .token.property + .token.punctuation {
  color: #a9b7c6;
}

code.language-css .token.id {
  color: #ffc66d;
}

code.language-css .token.selector > .token.class,
code.language-css .token.selector > .token.attribute,
code.language-css .token.selector > .token.pseudo-class,
code.language-css .token.selector > .token.pseudo-element {
  color: #ffc66d;
}

.code-line {
  color: var(--prism-foreground);
}

/* rehype-prism-plus */
.code-line.inserted,
.code-line.deleted,
.code-line.highlight-line {
  @apply -mx-5 block px-5;
}

.code-line.highlight-line {
  background-color: var(--prism-selection);
  border-color: #cc7832;
  border-left-width: 6px;
}
.highlight-line > *:first-of-type {
  margin-left: -6px;
}
.highlight-line.line-number::before {
  margin-left: -18px;
}

.code-line.highlight-line::selection,
.code-line.highlight-line *::selection {
  background-color: var(--prism-selection);
}

.code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2);
}
.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2);
}

.code-line.inserted > *:first-child {
  user-select: none;
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -12px;
  color: var(--prism-comment);
  content: attr(line);
}

.prose pre {
  color: var(--prism-foreground);
  background-color: var(--prism-background);
}
